<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nicestart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NiceStart">

        <!-- LAUNCHER -->
        <activity
            android:name=".Principal"
            android:exported="true"
            android:theme="@style/Theme.NiceStart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- principales -->
        <activity android:name=".Login" android:exported="true" />
        <activity android:name=".Signup" android:exported="true" />

        <!-- MAIN -->
        <activity android:name=".MainActivity" android:exported="true" />
        <activity android:name=".MainBab" android:exported="true" />

        <!-- PROFILE -->
        <activity android:name=".Profile" android:exported="true" />

        <!-- todavia no está puesto -->
        <!-- <activity android:name=".MainBn" android:exported="true" /> -->

    </application>

</manifest>
